<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <link rel="stylesheet" href="contact.css">
</head>
<body>
    <section id="contact">
        <div class="contactcon">
            <div class="fhp">
                <h1>Contact Us</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam quam aut sed?</p>
            </div>
            <div class="cform">
                <form>
                    <input type="text" placeholder="Enter your name" required>
                    <input type="email" placeholder="Enter your email" required>
                    <input type="number" placeholder="Enter your number" required>
                    <textarea name="textarea" id="textarea" cols="30" rows="10" placeholder="About you..." required></textarea>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>